<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tablica Wyników</title>
    <script src="/static/script/scoreboard.js"></script>
    <link rel="stylesheet" href="/static/CSS/general.css" />
    <link rel="stylesheet" href="/static/CSS/scoreboard.css" />
  </head>
  <body>
    {{template "templates/menu" .}}
    <main>
      <div id="scoreboard"></div>
    </main>
    <footer>
      <p>Strona oraz grafika - Adam Brzęk. Muzyka - DM Dokuro</p>
    </footer>
  </body>
</html>
